* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* body rules here */
body {
    font-family: Verdana;
    font-size: 16px;
}

/* header rules here */
header{
    background-color: #516b94;
    padding: 1rem 2%;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
}

/* navigation rules here */
nav{
    background-color: black;
}

nav ul{
    margin: 0;
}

nav li {
    list-style-type: none;
}

nav li.active{
    background-color: rgb(49, 49, 49);
}

nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    background-color: gray;
}

/* main rules here */
main {
    padding: 1rem 2%;
    display: block;
}

main h1 {
    color: #516b94;
}

main figure img{
    width: 100%;
}

main figure{
    width: 100%;
    margin: 0;
}

main figcaption{
    text-align: center;
}

/* footer */
footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #516b94;
    color: #eee;
}